.fondo {
    background-color: #ffffff;
    height: 100vh;
    background-image: url(https://media.pixverse.ai/pixverse%2Ft2i%2Fori%2F0d899e5e-6f10-4dd7-bebf-d31c8d1c8e15.jpg?x-oss-process=style/cover-webp);
    background-size: cover;
}


body {
  background-color: #f0f8ff; 
}

h1, h2, h3 {
  color: #0033a0; 
}

.btn-primary {
  background-color: #0033a0;
  border-color: #0033a0;
}

.btn-warning {
  background-color: #ff0000;
  border-color: #ff0000;
  color: white;
}

.btn-secondary {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #0033a0;
}

footer {
  background-color: #0033a0;
  color: white;
  padding: 10px;
}