.fondo {
    background-color: #ffffff;
    height: 100vh;
    background-image: url(https://media.pixverse.ai/pixverse%2Ft2i%2Fori%2F0d899e5e-6f10-4dd7-bebf-d31c8d1c8e15.jpg?x-oss-process=style/cover-webp);
    background-size: cover;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.navbar {
  padding: 12px 30px;
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffd43b !important;
}

footer {
      background-color: #003366;
      color: white;
      text-align: center;
      padding: 15px;
      font-size: 0.9em;
      letter-spacing: 0.5px;
    }


    body {
    margin: 0;
    padding: 0;
    background-image: url("../img/994726b9-3778-4f45-9433-911ac2149673.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}



