.fondo {
    background-color: #ffffff;
    height: 100vh;
    background-image: url("https://media.pixverse.ai/pixverse%2Ft2i%2Fori%2F0d899e5e-6f10-4dd7-bebf-d31c8d1c8e15.jpg?x-oss-process=style/cover-webp");
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2c2b2b;
}

.card .btn-success {
    background-color: #3e51ff;
    border: none;

}


.card .btn-success:hover {
    background-color: #374bf7;
    border: none;

}


.card .btn-primary {
    background-color: #3e51ff;
    border: none;

}

.card .btn-primary:hover {
    background-color: #374bf7;
    border: none;

}

.titulo {
    color: #000000;
}

.nav-tabs .nav-link.active {
    background-color: #7581b1;
}

.nav-tabs .nav-link {
    color: #4c6ef5;
}

.nav-tabs .nav-link:hover {
    color: #364fc7;
}