#lista-rutas .list-group-item {
  cursor: pointer;
  transition: 0.3s;
}

#lista-rutas .list-group-item:hover {
  background-color: #e9f3ff;
  color: #0056b3;
  transform: scale(1.02);
}

.mapa-simulacion {
  width: 100%;
  height: 350px;
  background-color: #eaeaea;
  border-radius: 10px;
  transition: 0.5s;
}
